html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.company-name {
	font size: 18px;
	color: #434343;
	text-align: center;
}

main {
	min-width: 1000px;
	min-height: 100%;
	position: fixed;
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -10;
}

